<h1>Sua inscrição foi feita com sucesso!</h1>

<p>Seu pagamento será processado em breve. Consulte sua conta do PagSeguro para acompanhar a aprovação do pedido
  ou para escolher outra forma de pagamento. Caso tenha problemas, faça uma nova inscrição, a antiga será cancelada
  automaticamente.</p>
  
<p>Se tiver problemas com a inscrição pode entrar em contato conosco pelo e-mail <a href="mailto:eventos@jera.com.br">eventos@jera.com.br</a>.</p>