<h1>Inscrição</h1>

<p>Clique no botão abaixo para fazer o pagamento da sua inscrição com valor total de 
  <%= number_to_currency(@registration.total) %></p>

<%= pagseguro_form @order do %>
  <%= image_tag('pagar.gif') %>
  <% end %>